.raffle {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 95%;
  text-align: center;
}

.success {
	flex-direction: column;
	text-align: center;
}
.registered {
	display: block;
	font-size: 20px;
}

.label {
	display: block;
	text-align: left;
}

.input {
  width: 300px;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #00b894;
}

.smallInput {
  width: 30px;
  margin-right: 1em;
}

.error {
	width: 300px;
	border: 1px solid rgba(231, 76, 60,1.0);
	background-color: rgba(231, 76, 60, 0.1);
	padding: 10px;
	border-radius: 4px;
}

.error .small {
	font-size: 80%;
}

.button {
	background-color:#00b894;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.button:hover {
	background-color:#00b894;
}
.button:active {
	position:relative;
	top:1px;
}
